html {
    margin: 0;
    padding: 0;
}

.highlight {
    color: firebrick;
}

.index-heading {
    text-align: center;
    padding-top: 15%;
}

.background body {

}

.delete_button {
    float: right;
}

#buttonNewNote {
    z-index: 100;
    position: fixed;
    bottom: 5%;
    right: 5%;
}

.pages {
    position: relative;
    width: 100%;
    height: 100px;
    text-align: center;
}

.page-link {
    display: inline-block;
    padding: 10px;
}

.page-button {
    /*height: 36px;*/
    /*width: 36px;*/
    /*min-width: 36px;*/
    /*font-size: 18px;*/
    /*display: inline-;*/
}

.demo-card-square.mdl-card {
    /*margin: 15px 30px 15px 30px;*/
    /*align-self: center;*/
    width: 100%;
    height: 200px;
}

.mdl-cell {
    padding: 10px 2.5% 10px 2.5%;
}

.demo-card-square > .mdl-card__title {
    color: #fff;
    background: url('../img/back.jpg') bottom right 15% no-repeat #46B6AC;
}

.page-content {
    padding: 2%;
}

.cross-text {
    text-decoration: line-through;
}

.mdl-button {
    min-width: 24px;
}

.back-button {
    position: relative;
    right: 125px;
}

.input-name {
    width: 100%;
}

.note-editor {
    margin-top: 20px;
    background-color: white;
}

.input-content {
    width: 100%;
}

#buttonDeleteNote {
    float: right;
}

.buttons {
    width: 100%;
    margin-top: 20px;
}

.create-date {
    width: 100%;
    /*margin-top: 10px;*/
}