<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>

    <link rel="stylesheet" th:href="@{mdl/material.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" th:href="@{css/style.css}"/>
    <link th:if="false" rel="stylesheet" href="../static/mdl/material.css"/>
</head>
<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-color--grey-100">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Notes</span>
            <div class="mdl-layout-spacer"></div>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Filters</span>
        <nav class="mdl-navigation">
            <a th:class="${done == null ? 'mdl-navigation\_\_link mdl-navigation\_\_link--current' : 'mdl-navigation__link'}"
               th:href="'/notes?' + ${sort == null ? '' : '&amp;sort=' + sort}">All</a>
            <a th:class="${done == true ? 'mdl-navigation\_\_link mdl-navigation\_\_link--current' : 'mdl-navigation__link'}"
               th:href="'/notes?' + '&amp;done=true' + ${sort == null ? '' : '&amp;sort=' + sort}">Done</a>
            <a th:class="${done == false ? 'mdl-navigation\_\_link mdl-navigation\_\_link--current' : 'mdl-navigation__link'}"
               th:href="'/notes?' + '&amp;done=false' + ${sort == null ? '' : '&amp;sort=' + sort}">Not Done</a>
            <br/>
            <br/>
            <a th:class="${sort == null ? 'mdl-navigation\_\_link mdl-navigation\_\_link--current' : 'mdl-navigation__link'}"
               th:href="'/notes?' + ${done == null ? '' : '&amp;done=' + done}">Not sort</a>
            <a th:class="${sort == true ? 'mdl-navigation\_\_link mdl-navigation\_\_link--current' : 'mdl-navigation__link'}"
               th:href="'/notes?' + ${done == null ? '' : '&amp;done=' + done} + '&amp;sort=true'">Sort Up</a>
            <a th:class="${sort == false ? 'mdl-navigation\_\_link mdl-navigation\_\_link--current' : 'mdl-navigation__link'}"
               th:href="'/notes?' + ${done == null ? '' : '&amp;done=' + done} + '&amp;sort=false'">Sort Down</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">

            <div class="mdl-grid" th:if="${notes!= null}">

                <div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone"
                     th:each="item : ${notes}">
                    <div class="demo-card-square mdl-card mdl-shadow--4dp">
                        <div class="mdl-card__title mdl-card--expand">
                            <h2 class="mdl-card__title-text"
                                th:text="(${(item.name.length() > 40)} ? ${#strings.substring(item.name, 0, 40)} + '...': ${item.name})"></h2>
                        </div>
                        <div th:if="${item.content} != null and ${!item.content.isEmpty()}" class="mdl-card__supporting-text mdl-color-text--grey-700"
                             th:text="(${(item.content.length() > 80)} ? ${#strings.substring(item.content, 0, 80)} + '...': ${item.content})">
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <p class="note_id" th:text="${item.id}" hidden="hidden"></p>
                            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--mini-icon"
                               th:href="'/notes/' + ${item.id}">
                                Edit
                            </a>
                            <a th:class="${item.done == false} ? 'noteDone mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect'
                               : 'noteDone mdl-color-text--green-400 mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect'">
                                Done
                            </a>
                            <a class="noteDelete delete_button mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                                Delete
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>


        <button id="buttonNewNote" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-shadow--6dp">
            <i class="material-icons">add</i>
        </button>

        <div class="pages" th:if="${pages!= null and pages.size() > 1}">
            <a th:each="item : ${pages}" class="page-link"
               th:href="'/notes?' + ${'page=' + item} + ${done == null ? '' : '&amp;done=' + done} + ${sort == null ? '' : '&amp;sort=' + sort}">
                <button th:class="${item == curPage ?
            'page-button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--accent mdl-color-text--primary-contrast' :
            'page-button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-color-text--accent'}"
                        th:text="${item}">
                </button>
            </a>
        </div>

        <div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
            <div class="mdl-snackbar__text"></div>
            <button class="mdl-snackbar__action" type="button"></button>
        </div>

    </main>
</div>


<script th:src="@{mdl/material.js}"></script>
<script th:if="false" src="../static/mdl/material.js"></script>
<script th:src="@{js/buttonNewNote.js}"></script>
</body>
</html>