<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${id}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" th:href="@{../mdl/material.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" th:href="@{../css/style.css}"/>
    <link th:if="false" rel="stylesheet" href="../static/mdl/material.css"/>
</head>
<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-color--grey-100">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Notes</span>
            <button id="buttonBack" class="mdl-button mdl-color-text--accent-contrast back-button">
                <i class="material-icons">backspace</i>
            </button>
            <div class="mdl-layout-spacer"></div>
        </div>
    </header>
    <main class="mdl-layout__content">

        <div class="mdl-grid">
            <div class="note-editor mdl-cell mdl-cell--6-col-desktop mdl-cell--3-offset-desktop mdl-cell--6-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone mdl-shadow--6dp">

                <form th:if="${note != null}" id="formNote">

                    <!--<label for="name">Name:</label>-->
                    <!--<input id="name" type="text" name="name" th:value="${note.name}"/><br/>-->
                    <div class="input-name mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="name" name="name" th:value="${note.getName()}"/>
                        <label class="mdl-textfield__label" for="name">Name</label>
                    </div>

                    <div class="input-content mdl-textfield mdl-js-textfield">
                        <textarea class="mdl-textfield__input" type="text" rows="10" id="content" name="content"
                                  th:text="${note.getContent()}"></textarea>
                        <label class="mdl-textfield__label" for="content">Content</label>
                    </div>

                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="done">
                        <input type="checkbox" id="done" name="done" class="mdl-checkbox__input"
                               th:checked="${note.isDone()}"/>
                        <span class="mdl-checkbox__label">Done</span>
                    </label>

                    <div class="buttons">
                        <button id="buttonSaveNote" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                            Save
                        </button>
                        <button id="buttonDeleteNote" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent">
                            Delete
                        </button>
                    </div>

                </form>

                <div th:if="${note != null}" class="create-date mdl-color-text--grey-600">
                    <h6>Дата создания: <span th:text="${note.getCreateDate()}"></span></h6>
                    <p id="id" th:text="${id}" hidden="hidden"></p>
                </div>

            </div>
        </div>

        <div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
            <div class="mdl-snackbar__text"></div>
            <button class="mdl-snackbar__action" type="button"></button>
        </div>
    </main>
</div>


<script th:src="@{../mdl/material.js}"></script>
<script th:if="false" src="../static/mdl/material.js"></script>
<script th:src="@{../js/formNote.js}"></script>

</body>
</html>